<section>
  <% if current_user %>

  <article>
    <div class="boxed">
    <h2> <a href= "skills">My Proficiencies</a></h2>


    <ul>
      <% current_user.proficiencies.each do |prof| %>

    <li><a href="/skills/<%= prof.skill.id %>">
         <%= prof.skill.name %> - <%= prof.level %>
      </a></li>


      <% end %>

    </ul>
    </div>
      <br>
      <div class="boxed">
    <h2><a href= "skills"> My Interests </a></h2>
    <ul>
      <% current_user.interests.each do |inter| %>

    <li><a href="/skills/<%= inter.skill.id %>">
         <%= inter.skill.name %> - <%= inter.level %>
      </a></li>


      <% end %>
</div>

  </article>

  <% end %>
</section>
