
<%= link_to "&larr; Back".html_safe, skills_path %>
<% if current_user %>
<article>
  <h2><%= @skill.name %> </h2>
  <div class='comments'>


<% if @skill.proficiencies.include? @skill.proficiencies.first %>
<h3> Proficiency Level: - <%= @skill.proficiencies.first.level %></h3>
<h3><%= link_to "Remove Proficiency".html_safe, remove_proficiency_skill_path, method: :delete, class: "Delete" %></h3>
<% elsif @skill.interests.include? @skill.interests.first%>
<h3> Interest Level: - <%= @skill.interests.first.level %></h3>
<h3><%= link_to "Remove Interest".html_safe, remove_interest_skill_path, method: :delete, class: "Delete" %></h3>
<% else %>
<h2>Select Proficiency/Interest Level</h2>
<p><%= render "form_proficiency" %> - <%= render "form_interest" %></p>

<% end %>

</article>
<% end %>
